<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ats_lang.org/AnairiatsDats" 
       class = "org.ats_lang.anairiatsDats.AnairiatsDatsPackage"
       genModel = "org/ats_lang/AnairiatsDats.genmodel" /> 
	
  </extension>





</plugin>
